<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>101</key>
	<dict>
		<key>objective</key>
		<integer>1</integer>
		<key>initialTime</key>
		<integer>100</integer>
		<key>numberOfTypes</key>
		<integer>8</integer>
		<key>powerUpPercentage</key>
		<real>0</real>
	</dict>
	<key>102</key>
	<dict>
		<key>initialTime</key>
		<integer>100</integer>
		<key>numberOfTypes</key>
		<integer>8</integer>
		<key>powerUpPercentage</key>
		<real>0</real>
	</dict>
	<key>103</key>
	<dict>
		<key>initialTime</key>
		<integer>100</integer>
		<key>numberOfTypes</key>
		<integer>8</integer>
		<key>powerUpPercentage</key>
		<real>0</real>
	</dict>
	<key>104</key>
	<dict>
		<key>initialTime</key>
		<integer>100</integer>
		<key>numberOfTypes</key>
		<integer>8</integer>
		<key>powerUpPercentage</key>
		<real>0</real>
	</dict>
	<key>105</key>
	<dict>
		<key>initialTime</key>
		<integer>100</integer>
		<key>numberOfTypes</key>
		<integer>8</integer>
		<key>powerUpPercentage</key>
		<real>0</real>
	</dict>
	<key>106</key>
	<dict>
		<key>initialTime</key>
		<integer>100</integer>
		<key>numberOfTypes</key>
		<integer>8</integer>
		<key>powerUpPercentage</key>
		<real>0</real>
	</dict>
	<key>107</key>
	<dict>
		<key>initialTime</key>
		<integer>100</integer>
		<key>numberOfTypes</key>
		<integer>8</integer>
		<key>powerUpPercentage</key>
		<real>0</real>
	</dict>
	<key>108</key>
	<dict>
		<key>initialTime</key>
		<integer>100</integer>
		<key>numberOfTypes</key>
		<integer>8</integer>
		<key>powerUpPercentage</key>
		<real>0</real>
	</dict>
	<key>109</key>
	<dict>
		<key>initialTime</key>
		<integer>100</integer>
		<key>numberOfTypes</key>
		<integer>8</integer>
		<key>powerUpPercentage</key>
		<real>0</real>
	</dict>
	<key>110</key>
	<dict>
		<key>initialTime</key>
		<integer>100</integer>
		<key>numberOfTypes</key>
		<integer>8</integer>
		<key>powerUpPercentage</key>
		<real>0</real>
	</dict>
	<key>111</key>
	<dict>
		<key>initialTime</key>
		<integer>100</integer>
		<key>numberOfTypes</key>
		<integer>8</integer>
		<key>powerUpPercentage</key>
		<real>0</real>
	</dict>
	<key>112</key>
	<dict>
		<key>initialTime</key>
		<integer>100</integer>
		<key>numberOfTypes</key>
		<integer>16</integer>
		<key>powerUpPercentage</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
